body {width:1024px;}
#points {position:absolute; right:0; top:0;}
#points #star {margin: 10px; text-align: center; background-image: url('/images/one_star.png'); width: 100px; height: 100px; line-height: 118px; font-size: 40px;}
ul#days {float:left; list-style:none; width:1000px; margin:0; padding:0;}
ul#days li {float: left;}
ul#days li a {float:left;
	border: 1px solid #666;
	margin: 10px;
	padding: 10px;
	width: 100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color:black;
	text-decoration:none;
}
ul#days li.selected a {background-color:#ccc;}

ul#tasks {float:left; clear:left; margin:0; margin-top:100px; list-style:none;}
ul#tasks li {float:left;}
ul#tasks li label {float:left; border:1px solid #666; margin:10px; padding:10px; width:200px; height:130px; font-size:20px; text-align:center;}
ul#tasks li input {display:none;}
ul#tasks li.disabled label {background-color:#ccc;}
ul#tasks li label img {width:100px; height:100px;}