body {width:1024px;}
#points {position:absolute; right:0; top:0;}
#points #star {margin: 10px; text-align: center; background-image: url('/images/one_star.png'); width: 100px; height: 100px; line-height: 118px; font-size: 40px;}
#points #star a {text-decoration:none; color:black;}
ul#days {float:left; list-style:none; width:975px; margin:0; padding:0; margin-top:40px;}
ul#days li {float: left;}
ul#days li a {float:left;
	border: 1px solid #666;
	margin: 10px;
	padding: 10px;
	width: 95px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color:black;
	text-decoration:none;
}
ul#days li.selected a {background-color:#ccc;}

ul#tasks {float:left; clear:left; margin:0; margin-top:50px; list-style:none; padding:0px;}
ul#tasks li {float:left;}
ul#tasks li label {float:left; border:1px solid #666; margin:10px; padding:10px; width:200px; height:130px; font-size:20px; text-align:center;}
ul#tasks li input {display:none;}
ul#tasks li.disabled label {background-color:#ccc;}
ul#tasks li label img {width:100px; height:100px;}
ul#tasks li.required {background-image: url('/images/one_star.png'); background-repeat:no-repeat;}

ul#rewards {float:left; clear:left; margin:0; margin-top:50px; list-style:none; padding:0px;}
ul#rewards li {float:left;}
ul#rewards li label {float:left; border:1px solid #666; margin:10px; padding:10px; width:200px; height:160px; font-size:20px; text-align:center; }
ul#rewards li input {display:none;}
ul#rewards li.disabled label {background-color:#ccc;}
ul#rewards li label img {width:100px; height:100px;}

.choose-kid-name {font-size:70px; font-weight:bold; text-decoration:none; color:black; float:left; padding: 30px; border:1px dotted #666; margin-left: 100px; margin-bottom:10px;}

table#kid-completed-tasks {width:500px; border:1px solid #ccc;}
table#kid-completed-tasks td {border:1px solid #ccc;} 

#footer {clear:both; float:left; width:100%; margin-top:30px; border-top:1px dashed #ccc;}
#user-navigation {text-align:right; width:90%; list-style:none;}
#user-navigation li {float:left; margin-right:30px;}
#debug-info {clear:both; margin-top:30px; float:left;}

/*FLASH*/
div.flash {border: 1px solid; padding:5px; margin-bottom:10px; font-weight:bold;}
div.flash.error {border-color:#fe5454; background-color:#ffcaca; color:#fe5454;}
div.flash.success {border-color:#2774dc; background-color:#9bb7dc; color:#2774dc;}
